.next {
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../Source/Assets/btn-next.png', sizingmethod='crop'); 
}
.prev {
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../Source/Assets/btn-prev.png', sizingmethod='crop'); 
}
.next-disable {
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../Source/Assets/btn-next-disable.png', sizingmethod='crop'); 
}
.prev-disable {
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../Source/Assets/btn-prev-disable.png', sizingmethod='crop'); 
}